* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  letter-spacing: 0.3rem;
  line-height: 1.6;
}

/* Heading */

h1 {
  color: #66fc91;
  text-align: center;
  margin: 6vw 0 1vw 0;
  font-size: 13vw;
  font-weight: 900;
}

h3 {
  text-align: center;
  color: #fc66d1;
  margin: 2vw;
  font-weight: 600;
  letter-spacing: 0.7vw;
  font-size: 3.6vw;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 4vw 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #66fc91;
  margin: 2vw;
  font-weight: 900;
  font-size: 4.5vw;
}

.img_sara {
  display: block;
  width: 80%;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  color: #fc66d1;
  font-weight: 200;
  letter-spacing: 0.3vw;
  font-size: 2.5vw;
}

/* About Me */

.about_container {
  text-align: center;
}

h2 {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #66fc91;
  margin: 8vw 0 3vw 0;
  font-weight: 600;
  font-size: 8vw;
  padding: 3vw;
  border: 1vw dashed #fc66d1;
  border-radius: 15%;
}

p {
  color: #fc66d1;
  margin: 4vw 2vw;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1vw;
  padding: 2vw 3vw;
  font-size: 3.3vw;
}

.about_figure > img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.about_figure > figcaption {
  padding: 0 9vw 10vw 9vw;
}

/* Projects */
.projects_container {
  text-align: center;
}

h4 {
  color: #66fc91;
  text-align: center;
  margin: 6vw 0 2vw 0;
  font-size: 3.5vw;
  font-weight: 600;
}

.projects_img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.projects_p {
  font-weight: 200;
  letter-spacing: 0.3rem;
  margin-top: 2vw;
  margin-bottom: 8vw;
  font-size: 2.5vw;
}

/* Contact */

.contact_container {
  text-align: center;
}

.form {
  width: 80%;
  margin: 0 auto;
}

fieldset {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #fc66d1;
}

legend {
  color: #66fc91;
  font-size: 6vw;
}

label {
  display: block;
  color: #fc66d1;
  font-size: 5vw;
  text-align: center;
  margin: 0 auto;
}

input {
  display: block;
  height: 7vw;
  width: 80%;
  margin: 3vw auto;
  font-size: 4vw;
}

textarea {
  display: block;
  width: 90%;
  height: 16vw;
  margin: 3vw auto;
  font-size: 4vw;
}

textarea::placeholder {
  font-size: 4vw;
}

/* Footer */
#footer {
  color: #66fc91;
  text-align: center;
  padding: 5vw 0;
  font-size: 3vw;
}

@media screen and (min-width: 768px) {
  .form {
    width: 90%;
  }

  legend {
    font-size: 5vw;
  }

  label {
    display: inline;
    font-size: 4vw;
    text-align: left;
  }

  input {
    display: inline;
  }

  .contact_reason {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  input[type="radio"] {
    height: 7vw;
    width: 3vw;
  }

  textarea {
    display: inline;
    width: 90%;
  }

  textarea::placeholder {
    font-size: 4vw;
  }

  #footer {
    font-size: 2.5vw;
  }
}
